{% extends "Administrator_Interface.html" %}
{% block content %}

<h1>Add Successed</h1>

<table class="table table-bordered border-primary text-center">
        <tr class="text-center ">
            <th>Driver id</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>Caregiver</th>
            <th>Car</th>
        </tr>
        {% for information in add_list %}
            <tr class="text-center">
                {% for result in information %}
                
                <td>{{result}}</td>

    
                {% endfor %}
                
            </tr>
        {% endfor %}




    </table>



{% endblock %}