
    
{% extends "Driver_Interface.html" %}
{% block content %}


<div style="margin: 30px;">
<h2 class="text-center">Current Course List</h2>


<table class="table table-bordered border-dark table-striped">
 
    <tr class="text-center">
        <th>Course</th>
        <th>Name</th>
        <th>Map diagram</th>
    </tr>

    
    {% for course in course_list %}
        <tr class="text-center align-middle">
            {% for field in course %}
                {% if field.endswith('.gif') %}
                    <td><img src="../static/{{field}}" alt="" style="width:200px;height:200px"></td>
                {% else %}
                    <td>{{field}}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}

