{% extends "Administrator_Interface.html" %}
{% block content %}




<div class="d-flex justify-content-center align-items-center" style="margin: 50px;">

<form name='edit' id="edit" action="Editdetail"  method ='post'>


    <p>
        <label>Driver Name:</label>
        <select name="driverid" id="driverid" required>
            <option value="" disabled selected hidden> Select Driver Name</option>
            
            {% for driverid in id_list %}
                <option value="{{driverid[0]}}">{{driverid[1]}} {{driverid[2]}}</option>
            {% endfor %}
        </select>
        </p>

        <p>
            <label>Course Id:</label>
        <select name="courseid" id="courseid" required>
            <option value="" disabled selected hidden> Select a Course Id</option>
            
            {% for courseid in course_list %}
                <option value="{{courseid[0]}}">{{courseid[0]}}</option>
            {% endfor %}
        </select>
        </p>

        <p><label >Run Num:</label>
        <select name="runnum" id="runnum" required>
            <option value="" disabled selected hidden> Select Run Num</option>
            
            {% for runnum in run_num %}
                <option value="{{runnum[0]}}">{{runnum[0]}}</option>
            {% endfor %}
        </select>
        </p>

            <p class="d-flex justify-content-center align-items-center">
                <input type="submit" value="Edit">
                <span style="margin: 0 10px;">&nbsp;</span>
                <input type="reset" value="Cancel">
            </p>
    </form>
    </div>

{% endblock %}