
<!DOCTYPE html>
<html>
    <!-- access Plotly content delivery network (CDN) charting library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<body>
    {% extends "Driver_Interface.html" %}
    {% block content %}


    <div id="myHBarPlot" style="width:100%; max-width:100%; margin-left: 20px;"></div>

    
    <script>
        // Note SPACE after each fruit name so gap before horizontal bars
        const priceList = [7.25,8.50,3.45];
        const fruitList = ['apple ','mango ','banana '];
        // REPLACE constants above with passed in variables.
        // Use the '|safe' Jinja filter to mark them as safe (prevents your data being html-escaped). eg,
        // var myList = {{ list_from_py | safe }}

        var nameList = {{name_list | safe }}
        var valueList = {{value_list | safe }} 

        // Define graph data
        const data = [{ x: valueList,  y: nameList,  type:"bar", orientation:"h", marker: {color:"cornflower blue"} }];

        // Define graph layout. Excluded a y-axis title as fruit names are self-explanatory.
        const layout = {  
            xaxis: {range: [0, 300], title: "seconds"}, 
            yaxis: {automargin: true},
            title: "Top 5 Drivers"
        };

        // Display using Plotly
        Plotly.newPlot("myHBarPlot", data, layout);

    </script>

    {% endblock %}
</body>
</html>
